<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    </head>

  <body>

    <div class="container">
      <div class="header clearfix">
      
          <ul class="nav nav-pills float-right">
            
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
           
            {% if current_user.is_authenticated %}
                <li role="presentation"><a class="nav-link" href="{{url_for('logout') }}">Logout</a></li>
            {% else %}
                <li role="presentation"><a class="nav-link" href="{{url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
      
       
        
      </div>
     
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warming">
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            </div>
            {% endif %}
          {% endwith %}

      
      {% block content %}
      {% endblock %}

    </div> 
  </body>
</html>
